/* Global 作為每個slide的預設值 */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #8a8683;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}
a:link {
	color: #336699;
	text-decoration: none;
}
a:hover {
	color: #3399CC;
	text-decoration: none;
}
a:visited {
	color: #336699;
	text-decoration: none;
}




/* Navigation 上方menu區 */

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	background-color:#ffffff;
	z-index:10000;
}

#logo {
	text-align: center;
	margin: 10px 0 5px 0;
}
#nav {
	text-align: right;
	margin: 10px 0 0 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	display: inline-block;
	text-align: left;
	padding:5px 0 0 10px;
	color: #056087;
}
.navigation li:hover{
	cursor:pointer;
	color: #057F87;
}

.navigation .active{
	cursor:pointer;
	color: #C24A4A;
	font-weight:bold;
}




/* General Slides */ 

.slide{
	background-attachment: scroll;
	background-position: left top; 
	background-size: 100%;
	width:100%;
	height:auto;
	position: relative;
	padding:100px 0;
}

.fuck_anti_nuke{
	display: none;
}

/* Slide 1 首頁-核能流言終結者 */ 

/* 頁面 */
#slide1{
	background-color:#ffffff;
	color: #000000;
}

/* 頁面主標 */
#slide1 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	font-weight: 700;
	color:#056087;
}


/* 頁面副標 */
#slide1 h2 {
	font-size: 2em;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
	color: #057F87;
}

/* 網站連結 */
#slide1 .site_link{
	display: block;
	vertical-align: middle;
	line-height: 20px;
	font-size: 0.9em;
	margin: 0;
	border: none;
	padding: 0;
}

#slide1 .site_link img{
	vertical-align: top;
	line-height: 20px;
	width: 20px;
	height: 20px;
	margin-right: 5px;

}

/* 版權資訊 */
#slide1 .license{
	text-align: center;
	font-size: 0.7em;
	margin-top: 20px;
}

/* Slide 2  核電好危險？ */ 

#slide2{
	background-image:url('../images/slide2/nuke_bg.jpg');
	color:#ffffff;
}

.hl{
	width: 100%;
	text-align: center;
	background-color: #66CCFF;
	
}

.hl_row{
	width:400px;
	display: inline-block;
	vertical-align: top;
	margin: 10px 0 5px 0;
}
.hl_cell{
	display: inline-block;
	width: 100%;
	height: 100px;
	vertical-align: top;
	text-align: left;
	padding-left: 5px;
	margin-bottom: 5px; 
	border:2px solid #3b5b90;
	border-radius:10px;
	-moz-border-radius:10px; /* Old Firefox */
	
	color: #000;
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#ddf1f9), color-stop(100%,#a0d8ef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */

}

.hl_cell_2{
	display: inline-block;
	width: auto;
	height: 210px;
	margin-left: 10px;
	margin-right: 5px;

}

.hl_cell.c2{
	background: #f0f9ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f9ff 0%, #c9dafc 47%, #9fb0f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#c9dafc), color-stop(100%,#9fb0f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f0f9ff 0%,#c9dafc 47%,#9fb0f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f0f9ff 0%,#c9dafc 47%,#9fb0f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f0f9ff 0%,#c9dafc 47%,#9fb0f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f0f9ff 0%,#c9dafc 47%,#9fb0f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#9fb0f9',GradientType=0 ); /* IE6-9 */


}

.hl_cell.c3{
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #feffff 0%, #dcf7f0 35%, #9eedc7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#dcf7f0), color-stop(100%,#9eedc7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#dcf7f0 35%,#9eedc7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#dcf7f0 35%,#9eedc7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#dcf7f0 35%,#9eedc7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#dcf7f0 35%,#9eedc7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#9eedc7',GradientType=0 ); /* IE6-9 */

}

.hl_cell.c4{
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #feffff 0%, #fcfbe5 35%, #eaea9d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#fcfbe5), color-stop(100%,#eaea9d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#fcfbe5 35%,#eaea9d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#fcfbe5 35%,#eaea9d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#fcfbe5 35%,#eaea9d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#fcfbe5 35%,#eaea9d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#eaea9d',GradientType=0 ); /* IE6-9 */

}


.hl_main{
	display: inline-block;
	overflow: left;
}

.hl_icon{
	height: 90px;
	line-height: 90px;
	padding-top: 10px;
	display: inline-block;
	overflow: right;
	vertical-align: top;
}

.hl_icon_img{
	height: 90px;
	vertical-align: middle;
}






.hl_title{
	margin: 0;
	padding: 0;
	border: none;
	font-size: 1.25em;
	color: #ec9000;
	width: 300px;
}

.hl_cell ul{
	width: 300px;
	margin: 0 0 0 20px;
	padding: 0;
	display: inline-block;
}

#slide2 .slide_title{
	font-size: 4em;
	letter-spacing: -2px;
	color:#ffcc00;
	font-weight: 200;
	margin: 0;
	background-color: #ff0000;
	
}



#slide2 h1 {
	font-size: 4em;
	letter-spacing: -2px;
	line-height: 1.2em;
	color:#101010;
	font-weight: 300;
	margin: 0;
	padding: 0;
	height: 1.3em;
	line-height: 1.3em;
	vertical-align: middle;
}



#slide2 h2 {
	font-size: 1.5em;
	letter-spacing: -3px;
	line-height: 1.2em;
	color:#ffcc00;
	font-weight: 400;
}


/* Slide 3 */ 
#slide3{
	background-image:url('../images/slide3/green_bg.jpg');
	color:#f0f0f0;
}

#slide3_container #content{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	padding: 20px 20px 60px 20px;
	background-color: #333333;
	opacity: 0.85; 
	filter:alpha(opacity=15);
}

#slide3 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 4px;
	color:#ffffff;
	font-weight: 500;
}

#slide3 h2 {
	font-size: 2em;
	letter-spacing: -2px;
	color:#FFCC33;
	font-weight: 200;
	padding: 0;
	margin: 20px 0 0 0;
	border: none;
}

#slide3 .answer{
	font-size: 1.2em;
	line-height: 1.2em;
	color:#f0f0f0;
	padding: 0;
	margin: 0;
	border: none;
}

/* Slide 4 */
#slide4{
	background-image:url('../images/slide4/power_bg.jpg');
	color:#ffffff;
}
#slide4 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#FFFFFF;
	font-weight: 500;
}

#slide4 h1.subject{
	font-size: 2em;
	letter-spacing: -2px;
	line-height: 0px;
	color:#FFCC33;
	font-weight: 200;
}


#slide4 h2 {
	font-size: 1.5em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 400;
}

/* Slide 5 */
#slide5{
	background-image:url('../images/slide5/nuclear4.jpg');
	color:#f0f0f0;
}

#slide5_container #content{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	padding: 20px 20px 60px 20px;
	background-color: #333333;
	opacity: 0.85; 
	filter:alpha(opacity=15);

}

#slide5 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 4px;
	color:#ffffff;
	font-weight: 500;
}

#slide5 h2 {
	font-size: 2em;
	letter-spacing: -2px;
	color:#FFCC33;
	font-weight: 200;
	padding: 0;
	margin: 20px 0 0 0;
	border: none;
}

#slide5 .answer{
	font-size: 1.2em;
	line-height: 1.2em;
	color:#f0f0f0;
	padding: 0;
	margin: 0;
	border: none;
}

/* Slide 6 */
#slide6{
	background-image:url('../images/slide6/energy_bg.jpg');
	color:#f0f0f0;
}
#slide6 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 500;
}

#slide6 h1.subject{
	font-size: 2em;
	letter-spacing: -2px;
	line-height: 0px;
	color:#FFCC33;
	font-weight: 200;
}


#slide6 h2 {
	font-size: 1.5em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 400;
}


/* Slide 8 */ 

#slide8{
	background-color:#ffffff;
}
#slide8 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#553775;
	font-weight: 500;
}
#slide8 h2 {
	font-size: 2em;
	color: #744C9E;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
#slide8 a#grid_link{
	background-color:#056087;
	color:#F7FABE;
	text-align:center;
	font-size: 2em;
	font-weight: 200;
	margin: 5px;
	display: block;
}

#slide8 a#grid_link:hover{
	background-color:#057F87;
}




/* Slide 9 */

#slide9{
	background-image:url('../images/sunglasses.png');
	background-color:#8a8683;
	color:#ffffff;
}
#slide9 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide9 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

#slide9 .site_link{
	display: block;
	vertical-align: middle;
	line-height: 20px;
	font-size: 20px;
	margin: 0;
	border: none;
	padding: 0;
	color: #333399;
}

#slide9 .site_link:hover{
	color: #FF9933;
}

#slide9 .site_link img{
	vertical-align: top;
	line-height: 20px;
	width: 20px;
	height: 20px;
	margin-right: 5px;

}

/* 文章內文 */
.detail_content{
	border-color: #fff9df; 
}

.detail_question
{
	font-size: 1.5 em;
	color: #50ba37;
}

.detail_answer
{
	font-size: 2em;
	color: #003399;
	font-weight: 200;
}





/* Tablet */
@media screen and (max-width: 1024px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	text-align:center;
	margin:10px 0;
}

.navigation{
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
	padding:0;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

#decorative {
	display:none;
}

#content {
	text-align:center;
	width:100%;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

}




/* Mobile */
@media screen and (max-width: 480px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	margin:5px 0;
}

.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}


#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}


}




