
$logo-height: 55px;
$logo-width: 199px;

/* ======================================================
	Colours
 * ====================================================== */

$bg-color: #eee;

$article_nav-bg_color-cat2: #eccd3a;
$article_nav-bg_color-cat3: #158e68;
$article_nav-bg_color-cat4: #eccd3a;

$article_nav-text_color-cat2: #584615;
$article_nav-text_color-cat3: #8be1a5;


$article_h1-text_color: #3e8d13;



/* ======================================================
	Founts
 * ====================================================== */

$font-default: 'Helvetica Neue', Arial, sans-serif;
$font-default-zh: 'Helvetica Neue', Arial,
 				  YuGothic, 'Han Heiti', sans-serif;

$font-default-serif: Georgia, 'Times New Roman', serif;
$font-default-serif-zh: Georgia, 'Times New Roman',
						YuMincho, 'Hiragino Mincho ProN', 'Han Songti', serif;

$font-Helvetica: $font-default;
$font-Helvetica-zh: 'Biaodian Pro Sans CNS', $font-default-zh;

$font-Gill_Sans: 'Gill Sans', $font-default;
$font-Gill_Sans-zh: 'Biaodian Pro Sans CNS', 'Gill Sans', $font-default-zh;

$font-Helvetica_thin: HelveticaNeue-Thin, 'Helvetica Neue Thin', $font-Helvetica;
$font-Helvetica_thin-zh: 'Biaodian Pro Sans CNS',
						 HelveticaNeue-Thin, 'Helvetica Neue Thin'
						 'Helvetica Neue', Arial,
						 'Lantinghei TC', 'Lantinghei SC', $font-default-zh;

$font-Minion_Pro: 'Minion Pro', $font-default-serif;
$font-Minion_Pro-zh: 'Biaodian Pro Serif CNS', 'Minion Pro', $font-default-serif-zh;

$font-awesome: FontAwesome, sans-serif;
$font-nmb: NMB, sans-serif;






















