<section class="slide" id="slide3">
	<div>
		<h1><span>綠能</span>與<span>節電</span>的迷思</h1>

		<h2><a href="//zh.nuke.wikia.com/wiki/綠能可以取代核能嗎">綠能取代核能？</a></h2>
		<p>
			再生能源受限於天候，無法24小時／365天持續穩定供電……<!--
			--><a class="more" href="//zh.nuke.wikia.com/wiki/綠能可以取代核能嗎">閱讀全文</a>

		<h2><a href="http://zh.nuke.wikia.com/wiki/台灣不缺電嗎">台灣不缺電嗎？</a></h2>
		<p>
			隨著老舊機組除役，電力供給逐年減少……<!--
			--><a class="more" href="//zh.nuke.wikia.com/wiki/台灣不缺電嗎">閱讀全文</a>

		<h2><a href="//zh.nuke.wikia.com/wiki/工業用電優惠與電價">低價工業用電導致浪費？</a></h2>
		<p>
			工業用電成本原就較民生用電低，世界各國也都有工業電價補貼方案……<!--
			--><a class="more" href="//zh.nuke.wikia.com/wiki/工業用電優惠與電價">閱讀全文</a>
	</div>
</section>