<section class="slide" id="slide5">
    <h1>理性<span>大</span>串連</h1>
    <h2>在這裡您可以找到理性瞭解核能的資訊</h2>

    <ol class="links">
        <li class="grid_3">
            <a target="_blank" href="//taiwanenergy.blogspot.tw/">台灣能源</a>
        <li class="grid_9 omega">
            <a target="_blank" href="https://www.facebook.com/notes/張中一/關於核四真實成本與能源方案報告-part-i/10151330022582828">關於《核四真實成本與能源方案報告》之一</a>
        <li class="grid_9">
            <a target="_blank" href="https://www.facebook.com/notes/張中一/關於核四真實成本與能源方案報告-part-ii/10151341011312828">關於《核四真實成本與能源方案報告》之二</a>
        <li class="grid_3 omega">
            <a target="_blank" href="https://www.facebook.com/pages/核為真相/310465689082718">核為真相</a>
        <li class="grid_6">
            <a target="_blank" href="http://www.cutreader.com/filter.php?label=美華核能學會">美華核能學會</a>
        <li class="grid_6 omega">
            <a target="_blank" href="//www.energypk.com/">能源政策與知識　專業網站</a>
        <li class="grid_7">
            <a target="_blank" href="//www.aec.gov.tw/controlreport/violation.html">原能會核子設施違規事項查詢</a>
        <li class="grid_5 omega">
            <a target="_blank" href="//http://www.aec.gov.tw/焦點專區/澄清說明--218_2033.html">原能會澄清說明</a>
        <li class="grid_9">
            <a target="_blank" href="https://docs.google.com/document/d/1wBu4Hao872kmOGB9snw8x8vbtsZmr_4TrFJH0IO_aTg/edit?pli=1">不願面對的反核真相·劉黎兒作品錯誤全錄</a>
        <li class="grid_3 omega">
            <a target="_blank" href="https://www.facebook.com/nuclear.power.supporter">我是人　不反核</a>
    </ol>
</section>