<nav class="layout">
    <h1 id="site-title"><a href="/" class="site-logo mobile-device-menu-toggler">核能流言終結者</a></h1>

    <ul id="site-cat-menu">
        <li><a class="home" href="#!/核能流言終結者" data-slide-to="slide1">核能流言終結者</a>
        <li><a href="#!/核電好危險？" data-slide-to="slide2">核電好危險？</a>
        <li><a href="#!/綠能與節電的迷思" data-slide-to="slide3">綠能與節電的迷思</a>
        <!--<li><a href="#!/faq" data-slide-to="slide4"><abbr lang="en-GB" title="常見問題，Frequently Asked Questions">FAQ</abbr></a>-->
        <li><a href="#!/理性大串連" data-slide-to="slide5">理性大串連</a>
        <li><a href="#!/關於我們" data-slide-to="slide6">關於我們</a>
    </ul>
</nav>