

nav .article-menu {
	@include curve();


	/* Arrow towards to category menu */
	> ul > li > a {
		// positioning
		display: block;
		left: 50%;
		position: fixed;
		text-indent: -99999999px;
		z-index: 50;

		// size
		height: 41px;
		overflow: hidden;
		width: 70px;

		// functionality 
		cursor: default;


		&:before {
			@include psebox(45px, 45px);
			@include rotate(45);
		}
	}


	/* Curve below article menu */
	> ul > li > div:before {
		@include psebox(100%, 20px, absolute);

		// positioning
		bottom: -14px;
		left: 0;
		z-index: 0;

		// style
		background-color: inherit;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
	}
}



















