

body.article nav.on .site-menu {
	opacity: 1;
}

body.article nav.off .site-menu {
	opacity: .8;
}


body.article nav.off .article-menu {
	opacity: .8;


	&:before,
	> ul > li > a {
		display: none;
	}


	> ul > li > div {
		height: 9em;
		top: -63px;


		> ul {  display: none;  }
	}
}


.cat2 .site-menu > ul > li.cat2 > a,
.cat3 .site-menu > ul > li.cat3 > a,
.cat3 .on.cat2 .site-menu > ul > li.cat2 > a,
.cat2 .on.cat3 .site-menu > ul > li.cat3 > a {
	color: #c24a4a;
	font-weight: bolder;
}


.cat2 .article-menu > ul > li:nth-child(2),
.cat3 .article-menu > ul > li:nth-child(3) {
	display: block;
}


.cat3 .cat2 .article-menu > ul > li:nth-child(3),
.cat2 .cat3 .article-menu > ul > li:nth-child(2) {
	display: none;
}









