

footer div#copyright-and-share {
	// positioning
	margin: 7em 0 1em;


	// typography
	font: .8em/1.2 $font-Helvetica-zh;


	div.copyright {
		// positioning
		margin: 1em 0;

		// style
		border-top: 2px solid #ccc;
		color: #777;


		p {
			margin: .5em 0;
		}
	}



	div.share {
		a {
			// positioning
			display: inline-block;
			margin-right: .5em;
			text-indent: -99999px;

			//size
			height: 70px;
			overflow: hidden;
			width: 70px;

			// style
			background: url(./images/share-icons.png) no-repeat;
			background-size: 210px 70px;
		}

		a.twr-share-button {
			// style
			background-position: -70px 0;
		}


		a.gplus-share-button {
			// style
			background-position: -140px 0;
		}
	}

}


















