

	ol,
	ul {
		margin: 0;
		padding: 0;


		> li {
			margin: 0;
			padding: 0;
		}
	}


	> ol {
		counter-reset: section;
		list-style: none;


		li:before {
			color: #79775a;
			content: counter(section);
            counter-increment: section;
            display: inline;
            font: italic 1.65em Optima, 'Hoefler Text', $font-Minion_Pro;
            margin: -.05em 0 0 -1em;
            position: absolute;
            text-shadow: rgba(#ccc, .8) 3px 1px 0;
		}
	}

















