---
layout: article
---

<!DOCTYPE HTML>
<html lang="zh-Hant" class="no-js han-biaodian-pro han-biaodian-pro-cns han-la" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <title> {{ page.title }} — 核能流言終結者</title>

    <link rel="stylesheet" href="{{ site.baseurl }}style.css">
    <link rel="shortcut icon" href="{{ site.baseurl }}favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="核能流言終結者——理性思考核能，破除誇大恐懼">
    <meta name="keywords" content="核能, 核四, 龍門電廠, 核電, 台電, 擁核, 反核, 劉黎兒, 方儉, 部落客醫師楊斯棓, 媽媽監督核電廠聯盟, 綠色公民行動聯盟, 反核部隊, 綠色消費者基金會, 爸爸非核陣線">

    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:image" content="{{ site.url }}{{ page.image }}">
    <meta property="og:site_name" content="核能流言終結者">
    <meta property="og:locale" content="zh-Hant">

    <!--[if lte IE 8]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body class="page article">
<!--[if lte IE 8]>
    <p class="browsehappy">你使用的瀏覽器太<em>老舊</em>啦。馬上<a href="//browsehappy.com/">升級你的瀏覽器</a>以提升上網體驗。</p>
<![endif]-->

{% include nav-article.html %}
<header class="layout"></header>

<article class="layout main-content">
    <header class="main-content">
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>

        <a class="author {% if page.editor %}and{% endif %}" href="{{ page.author_page }}">{{ page.author }}</a><!--
        -->{% if page.editor %}<a class="editor" href="{{ page.editor_page }}">{{ page.editor }}</a>{% endif %}<!--
        --><a href="{{ page.url }}"><time datetime="{{ page.date }}">{{ page.date | date: "%Y年%m月%d日" }}</time></a>
    </header>

    <main class="main-content">
    {{ content }}
    </main>

    <footer class="main-content">
        <p class="copyright des">這篇文章使用<a href="//creativecommons.org/licenses/by-sa/3.0/tw/deed.zh_TW">創用CC「姓名標示﹣相同方式分享﹣3.0﹣台灣」</a>授權條款授權，歡迎在符合上述條件的情況下分享、轉載。</p>

        <nav>
            <ul>
                <li><button class="share twr" title="分享這篇文章到Twitter">分享到Twitter</button>
                <li><button class="share fb" title="分享這篇文章到Facebook">分享到Facebook</button>
                <li><button class="share goog" title="分享這篇文章到Google+">分享到Google+</button>
            </ul>
        </nav>
    </footer>
</article>

<div class="layout-wrapper comment-and-footer">
    <div id="comment" class="layout">
        <div id="disqus_thread"></div>
        <script>
var disqus_shortname = 'nuclearmb';
(function() {
    var dsq = document.createElement('script'); dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
        </script>
    </div>

    <footer class="layout">
        <div class="about">
            <h2>關於我們</h2>
            <p>「<a href="/">核能流言終結者</a>」是一個透過網路進行串連的社團。我們秉持理性思考、講究證據的精神，因此，我們透過網路集結起來，散布正確的核能知識，希望能喚醒大眾面對重大議題時應有的理性。
            <p>如果您和我們一樣，願意公平、客觀地審視能源議題，歡迎<a href="//facebook.com/nuclearMythBusters">加入我們</a>。
        </div>
    </footer>
</div>

<script src="{{ site.baseurl }}js/jquery-2.1.0.min.js"></script>
<script src="{{ site.baseurl }}js/han.js"></script>
<script src="{{ site.baseurl }}js/app-article.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-50557199-1', 'nuclearmb.org');
ga('send', 'pageview');
</script>
<script>
var disqus_shortname = 'nuclearmb';
(function () {
    var s = document.createElement('script'); s.async = true;
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
    
</body>
</html>

